<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Connection" value="user id=clerk;password=wifi;Server=localhost;Port=5432;Database=InstaCar;"/>
  </appSettings>
    <startup> 
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>